<div class="panel panel-info panneau">
    <div class="panel-heading">
        <div class="valeur">
            <h4 style="text-align: center">Variataion{{ id }}</h4>
        </div>
    </div>
    <div class="panel-body">
        <div id="graph{{ id }}"></div>
    </div>
</div>