<header class="header navbar-fixed-top" id="head">
    <div class="header-top-info">
        <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="agileits-logo">
                    <h1><a href=""> Water <span>Quality Monitoring</span></a></h1>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                <nav>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ path_for("home") }}"><i class="fa fa-home fa-2x"></i>Accueil</a></li>
                        <li><a href="{{ path_for("page") }}?page=visualisation" class="scroll">Visualisation</a></li>
                        <li><a href="{{ path_for("page") }}?page=export" class="scroll">Export/Import</a></li>
                        <li><a href="{{ path_for("login") }}" class="scroll">Connexion</a></li>

                    </ul>
                </nav>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    </div>
</header>