{% extends 'template.html.twig' %}
{% block body %}
<div class="row">{% include 'nav.html.twig' with {'id': 1} %}<br><br><br></div>
{% block content %}
    <p> bienvenue</p>
{% endblock %}
{% endblock %}