{% extends 'template.html.twig' %}

{% block body%}
<div class="row">{% include 'nav.html.twig' %}<br><br><br></div>
{% block content %}
<div class="row">
    {% include "menu.graph.html.twig"  with {'id': 1 }%}
    {% for key, cou in  graph %}
        <div class="col-md-4">
            {% include 'graph.panel.twig' with {'id': key, "title":"temps reel", "nom":cou.nom } %}

        </div>
    {% endfor %}


</div>


{% endblock %}

{% block chart %}
    {% for key, courbe in  graph %}
        {% include 'courbe/line.html.twig' with {'courbe': courbe } %}
    {% endfor%}
{% endblock %}
{% block highchart %}
    <script type="text/javascript" src="{{ base_url() }}/public/dist/js/highcharts.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/public/dist/js/modules/exporting.js"></script>
{% endblock %}
{% endblock %}



