{% extends 'template.html.twig' %}

{% block body%}
    <div class="row">{% include 'nav.html.twig'  with {'id': 2 } %}<br><br><br></div>
    {% block content %}
        <div class="row">
            {% include "menu.graph.html.twig"  with {'id': 2 } %}
            {% for key, cou in  graph %}
                <div class="col-md-10 col-md-offset-1" >
                    {% include 'graph.panel.twig' with {'id': key, 'nom': cou.nom, "title":"globale"} %}
                </div>
            {% endfor %}
        </div>


    {% endblock %}

    {% block chart %}
        {% for key, courbe in  graph %}
            {% include 'courbe/globale.html.twig' with {'courbe': courbe } %}
        {% endfor%}
    {% endblock %}
    {% block highstock %}
        <script src="https://code.highcharts.com/stock/highstock.js"></script>
        <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    {% endblock %}
{% endblock %}
